
* {
    font-family: 'OdibeeSans-Regular', cursive;
    font-size: 20px;
}
.h1 {
    font-family: 'Anton-Regular', cursive;
}
.h2 {
    font-family: 'JosefinSans-ThinItalic', cursive;
    font-size: 15px;
}
div {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 10px;

}