
@font-face {
  font-family: 'OdibeeSans-Regular';
  src: url('OdibeeSans-Regular.eot?#iefix') format('embedded-opentype'),  url('OdibeeSans-Regular.woff') format('woff'), url('OdibeeSans-Regular.ttf')  format('truetype'), url('OdibeeSans-Regular.svg#OdibeeSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
